@import url('https://fonts.googleapis.com/css2?family=Lato&family=Raleway:ital,wght@0,400;0,700;1,400&family=Special+Elite&display=swap');

body {
  font-family: 'Raleway', sans-serif; /* Default font */
}

h1,h2,h3,h4,h5,h6,.nav-link{
  font-family: 'Lato', sans-serif; /* Titles and header links font */
}

.cursive-text{
  font-family: 'Special Elite', cursive; /* Special display font */
}
