html {
  scroll-behavior: smooth;
}
* {
  box-sizing: border-box;
}

body{
  margin: 0;
}

/* SLICK SLIDER */
.slick-slider{ position:relative;display:block;-moz-box-sizing:border-box;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent; }
.slick-list{ position:relative;display:block;overflow:hidden;margin:0;padding:0; }
.slick-list:focus{ outline:none; }
.slick-list.dragging{ cursor:pointer;cursor:hand; }
.slick-slider .slick-track, .slick-slider .slick-list{ -webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0); }
.slick-track{ position:relative;top:0;left:0;display:block; }
.slick-track:before, .slick-track:after{ display:table;content:'';}
.slick-track:after{ clear:both; }
.slick-loading .slick-track{ visibility:hidden; }
.slick-slide{ display:none;float:left;height:100%;min-height:1px;outline: none; }
[dir='rtl'] .slick-slide{ float:right; }
.slick-slide img{ display:block; outline: none; }
.slick-slide.slick-loading img{ display:none; }
.slick-slide.dragging img{ pointer-events:none; }
.slick-initialized .slick-slide{ display:block; }
.slick-loading .slick-slide{ visibility:hidden; }
.slick-vertical .slick-slide{ display:block;height:auto;border:1px solid transparent; }

/* HEADER */
.ebl-nav .navbar-brand {
  padding:10px;
}
.ebl-nav .navbar-brand img {
  width:auto;
  height:50px;
}
.ebl-nav .navbar-nav a.nav-link {
  color:#eee;
}
.ebl-nav .navbar-nav li.active .nav-link, .ebl-nav .navbar-nav a.nav-link:hover {
  color:#ecb000;
}

/* BANNER SECTION */
.ebl-banner {
  position: relative;
  min-height: calc( 100vh - 80px );
  background: url("../images/banner-homepage.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}


.ebl-search-inner{
  text-align: center;
  width: 100%;
}
.ebl-search-inner > .cursive-text{
  font-weight: 600;
  margin: 0 0 30px;
}

.ebl-banner form, .ebl-banner-small form {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
}

.ebl-banner form .inner-form, .ebl-banner-small form .inner-form {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0px 8px 20px 0px rgba(0, 0, 0, 0.15);
  border-radius: 34px;
  overflow: hidden;
  margin-bottom: 30px;
}

.ebl-banner form .inner-form .input-field, .ebl-banner-small form .inner-form .input-field {
  height: 68px;
}

.ebl-banner form .inner-form .input-field input, .ebl-banner-small form .inner-form .input-field input {
  display: block;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 10px 0 10px 32px;
  font-size: 16px;
  color: #313131;
  background: transparent;
}
.ebl-banner form .inner-form .input-field input::placeholder,
.ebl-banner form .inner-form .input-field input:-moz-placeholder,
.ebl-banner form .inner-form .input-field input::-webkit-input-placeholder{
  color: #dddddd;
  font-size: 16px;
}
.ebl-banner-small form .inner-form .input-field input::placeholder,
.ebl-banner-small form .inner-form .input-field input:-moz-placeholder,
.ebl-banner-small form .inner-form .input-field input::-webkit-input-placeholder{
  color: #dddddd;
  font-size: 16px;
}

.ebl-banner form .inner-form .input-field input:hover, .ebl-banner-small form .inner-form .input-field input:hover,
.ebl-banner form .inner-form .input-field input:focus, .ebl-banner-small form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.ebl-banner form .inner-form .input-field:nth-child(1), .ebl-banner-small form .inner-form .input-field:nth-child(1) {
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #ffffff;
}

.ebl-banner form .inner-form .input-field:nth-child(1) input, .ebl-banner-small form .inner-form .input-field:nth-child(1) input {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.ebl-banner form .inner-form .input-field:nth-child(2), .ebl-banner-small form .inner-form .input-field:nth-child(2) {
  min-width: 216px;
}

.ebl-banner form .inner-form .input-field:nth-child(2) .btn-search, .ebl-banner-small form .inner-form .input-field:nth-child(2) .btn-search {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  font-size: 16px;
  color: #ffffff;
  border: 0;
  cursor: pointer;
  z-index: 0;
  background: #181818;
  font-weight: 300;
  text-decoration: none;
}
.btn-search .desktop i{
  font-size: 20px;
  margin-left: 10px;
  display: inline-block;
}
.btn-search .desktop,
.btn-search .mobile{
  line-height: 68px;
}
.btn-search .mobile{
  display: none;
}

.ebl-banner form .inner-form .input-field:nth-child(2) .btn-search:focus, .ebl-banner-small form .inner-form .input-field:nth-child(2) .btn-search:focus {
  outline: 0;
  box-shadow: none;
}

/* YELLOW STRIP */
.yellow-strip{
  height: auto;
  padding: 20px 0;
  border-top: 6px solid #313131;
  border-bottom: 6px solid #353535;
  background-color: #fdce00;
  color: #353535;
}
.yellow-strip > ul{
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.yellow-strip > ul > li{
  display: inline-block;
  position: relative;
  width: 20%;
}
.yellow-strip > ul > li .cell-wrapper{
  position: relative;
  display: flex;
  align-items: center;
}
.yellow-strip > ul > li:first-child:after{ display: none; }
.yellow-strip .cell-wrapper > span{ flex: 1; margin-right: 15px; }
.yellow-strip .cell-wrapper > span > i{ font-size: 40px; }
.yellow-strip .cell-meta{
  width: 75%;
}
.yellow-strip .cell-meta > span{ display: block; }

.yellow-strip > ul span{
  display: inline-block;
}
.yellow-strip .cell-meta > span:first-child{
  margin-bottom: 5px;
}

/* EBL BOOKS SLIDER */
.ebl-books-wrapper{
  margin-top: 64px;
  margin-bottom: 64px;
}
.ebl-books-slider-wrap {
  width: 98%;
	overflow: hidden;
	margin: 0 auto;
	padding: 36px 100px 36px;
	border-top: 2px solid #282828;
}

.ebl-books-slider{ margin-left: -15px; margin-right: -15px; max-height: 220px; }
.ebl-books-slider.loaded{ max-height: none; }
.ebl-books-slider button.slick-prev,
.ebl-books-slider button.slick-next {
	position: absolute;
	width: 36px;
	height: 36px;
	display: inline-block;
  top: 50%;
  transform: translateY(-50%);
	margin-top: -18px;
	cursor: pointer;
	outline: none;
	opacity: 0;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	text-align: center;
	line-height: 36px;
	background: #ffffff;
	z-index: 12;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	color: #313131;
	border: 2px solid #313131;
  padding: 0;
}
.ebl-books-slider button.slick-prev i,
.ebl-books-slider button.slick-next i{ font-size: 30px; }
.ebl-books-slider.loaded button.slick-prev,
.ebl-books-slider.loaded button.slick-next { opacity: 1; }

.ebl-books-slider > button.slick-prev{
  left: -80px;
}
.ebl-books-slider > button.slick-next{
  right: -80px;
}
.ebl-books-slider > button.slick-prev.slick-disabled,
.ebl-books-slider > button.slick-next.slick-disabled{ cursor: auto; }
.ebl-books-slider.loaded .ebl-book{ opacity: 1; }

.ebl-books-slider-wrap .ebl-book{
  display: flex !important;
	width: 25%;
	flex: 0 0 25%;
	flex-direction: column;
	margin: 0 40px;
  opacity: 0;
	transition: opacity 0.2s;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
}
.ebl-books-slider-wrap .ebl-book img{ width: 100%; height: auto; }

.ebl-slider-headline{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.ebl-slider-headline h2{
	display: inline-block;
	font-weight: bold;
	padding: 0 10px;
	margin: 30px 0;
}
.ebl-slider-headline .shop-all,
.ebl-books-wrapper .shop-all-mob{
  display: inline-block;
  font-size: 20px;
  padding: 0 10px;
  text-decoration: none;
  outline: none;
}
.ebl-books-wrapper .shop-all-mob{ display: none; }
.ebl-slider-headline h2,
.ebl-slider-headline .shop-all,
.ebl-books-wrapper .shop-all-mob{ color: #313131; }
.ebl-book a { outline: none; text-decoration: none; }
.ebl-book-meta{ display: flex; flex-direction: row; flex-wrap: nowrap; }

.ebl-book-meta .col-left{ flex: 1; }
.ebl-book-meta .col-left span{ display: block; font-size: 16px; color: #666; margin-top: 7px; }
.ebl-book span.price{ font-weight: 600; }
.ebl-book span.date{ font-size: 13px; color: #313131; margin-top: 7px; }

.ebl-book-meta .col-right{ margin-top: 7px; }
.ebl-book-meta .col-right a {
  display: inline-block;
  color: #313131;
  margin-left: 10px;
  font-size: 18px;
}

/* EBL HIGHLIGHT BANNER (INCLUDING FOR PAGES) */
.ebl-banner-small{
  color: #313131;
  background: rgb(236,176,0);
  background: linear-gradient(90deg, rgba(236,176,0,1) 0%, rgba(208,131,1,1) 100%);
  padding: 100px 120px;
}
.ebl-banner-small .ebl-newsletter-inner{
  width: 100%;
  max-width: 600px;
  border-bottom: 2px solid #313131;
  padding-bottom: 5px;
}
.ebl-newsletter-inner > h2.title{
  margin-bottom: 25px;
}
.ebl-newsletter-inner > p.subtitle{
  font-size: 18px;
  margin-bottom: 50px;
}
.ebl-newsletter-inner > .newsletter-form{
  display: flex;
  justify-content: space-between;
}
.ebl-newsletter-inner input{
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  padding: 0;
}
.ebl-newsletter-inner input:first-child{
  color: #313131;
  width: 75%;
}
.ebl-newsletter-inner > h2.title,
.ebl-newsletter-inner .newsletter-btn{
  font-weight: 600;
}
.ebl-newsletter-inner input::placeholder{
  color: #313131;
}

/* ------------------- PRODUCT LIST PAGE ------------*/
.ebl-books {
  margin-top: 40px;
}
.ebl-books .ebl-book {
  margin-bottom: 20px;
}
.ebl-books .ebl-book img {
  width:100%;
  height: auto;
}
.ebl-books-wrapper .page-link {
  color:#111;
}
.ebl-books-wrapper .page-item.active .page-link {
  background-color: #d08301;
  border-color: #222;
}
.ebl-breadcrumb a {
  color:black;
}
/* ------------------- SINGLE PRODUCT ----------------------*/
.ebl-product-img img {
  max-width: 100%;
}
.ebl-price {
  font-weight: 700;
  color: #d40707;
}
.ebl-stock {
  padding:8px;
  border-radius: 20px;
  background-color: #e7e6e6;
  width:20%;
  text-align: center;
  display: block;
  margin:16px 0;
}
.ebl-stock i {
  color:#238d30;
}
.ebl-btn-red {
  background-color: #d40707;
  color: white;
}
.ebl-reviews {
  font-size: 14px;
}
.ebl-stars {
  cursor: pointer;
}
/* ------------------- FOOTER ----------------------*/
.ebl-prefooter{
  background-color: #292929;
  padding: 50px 0;
}

.ebl-prefooter .ebl-col-2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ebl-prefooter .ebl-col-2 .col {
  margin: 0;
  width: 100%;
}

.ebl-prefooter .col {
  padding: 0 16px;
  padding-left: 50px;
}

.ebl-prefooter .two-list{
  margin: 0;
}

.ebl-prefooter .two-list > li{
  display: block;
  margin-bottom: 24px;
}

.ebl-prefooter .footer-logo{
  display: inline-block;
}

.ebl-prefooter .footer-logo img{
  display: block;
  width: 100%;
  max-width: 150px;
  margin-bottom: 20px;
}

.ebl-prefooter .site-desc{
  font-size: 18px;
  color:#ffffff;
  margin-bottom:20px;
}

.ebl-prefooter .footer-menu a{
  padding-bottom: .25em;
  font-size: 20px;
}

.ebl-prefooter .footer-menu a,
.ebl-prefooter .footer-menu .menu-title,
.ebl-prefooter .social a{
  display: inline-block;
  border: none;
  color: #b59d0d;
  text-decoration: none;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear;
}

.ebl-prefooter .footer-menu .menu-title{
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

.ebl-prefooter .footer-menu a:hover,
.ebl-prefooter .social a:hover{
  color: #feda00;
}

.ebl-prefooter .social{
  display: inline-block;
  height: 30px;
  margin-top: 10px;
}

.ebl-prefooter .social a{
  width: 30px;
  height: 30px;
  font-size: 25px;
  line-height: 30px;
  margin-left: 5px;
}

.ebl-prefooter .social a:first-child{ margin-left: 0; }
.ebl-copyright{
  height: 80px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  line-height: 80px;
  background-color: #222222;
}


/* ------------------- MEDIA QUERIES ---------------------------- */
@media( min-width: 960px ){
  /* YELLOW STRIP */
  .yellow-strip > ul > li:after{
    content:"";
    display: inline-block;
    background: #353535;
    position: absolute;
    height: 100px;
    border: .5px solid #353535;
    bottom: 0;
    left: -18%;
    transform: translateX(-18%);
    height: 100%;
  }
  .yellow-strip > ul > li .cell-wrapper{
    width: 85%;
    margin: 0 auto;
  }
  /* FOOTER */
  .ebl-prefooter .ebl-col-2 .col {
    width: 50%;
  }
  .ebl-prefooter .col:first-child{
    padding-left: 30px;
    width: 40%;
    margin-right: 10%;
  }
}
@media (min-width: 800px ){
  /* FOOTER */
  .ebl-prefooter .two-list > li{
    float: left;
    width: 47%;
    margin: 0 5% 16px 0;
  }
  .ebl-prefooter .two-list > li:last-child{
    margin: 0 0 16px;
  }
}

@media (min-width: 768px) {
  /* EBL SEARCH */
  .ebl-banner form .inner-form .input-field:nth-child(2) .btn-search {
    transition: all .2s ease-out, color .2s ease-out;
  }
  .ebl-banner form .inner-form .input-field:nth-child(2) .btn-search:hover {
    background: #313131;
  }
}

@media(max-width: 992px) {
  /* EBL SEARCH */
  .ebl-banner form .inner-form .input-field {
    height: 50px;
  }
  .btn-search .desktop,
  .btn-search .mobile{
    line-height: 50px;
  }
  .ebl-nav .navbar-header {
    width:100%;
  }
}

@media(max-width:960px){
  /* YELLOW STRIP */
  .yellow-strip{
    padding: 20px 25px;
  }
  .yellow-strip > ul > li{
    margin-bottom: 25px;
    margin-right: 40px;
    width: calc( 49% - 40px );
  }
}


@media (max-width: 768px){
  /* EBL SEARCH */
  .ebl-banner form .inner-form .input-field input, .ebl-banner-small form .inner-form .input-field input{ padding-left: 20px; }
  .ebl-banner form .inner-form .input-field:nth-child(2), .ebl-banner-small form .inner-form .input-field:nth-child(2){
    min-width: 20% !important;
  }
  .ebl-banner form .inner-form .input-field:nth-child(2) .btn-search, .ebl-banner-small form .inner-form .input-field:nth-child(2) .btn-search {
    font-size: 14px;
  }
  .btn-search .desktop{
    display: none;
  }
  .btn-search .mobile{
    display: inline-block;
  }

  /* EBL NEWSLETTER */
  .ebl-banner-small{
    padding: 80px 5%;
  }
  .ebl-stock {
    width:50%;
  }

  /* FOOTER */
  .ebl-prefooter .col{
    padding: 0;
  }
  .ebl-prefooter .footer-logo img{ max-width: 130px; }
  .ebl-prefooter .site-desc{
    margin-bottom: 30px;
  }
  .ebl-prefooter .two-list{
    display: flex;
    flex-wrap: wrap;
  }
  .ebl-prefooter .two-list > li{
    width: 50%;
  }
  .ebl-prefooter .site-desc,
  .ebl-copyright{ font-size: 16px; }
}

@media (max-width: 600px){
  /* FOOTER */
  .ebl-prefooter .two-list > li{
    width: 100%;
  }
  /* EBL BOOKS SLIDER */
  .ebl-slider-headline .shop-all{ display: none; }
  .ebl-books-wrapper .shop-all-mob{ display: inline-block; margin-top: 20px; }

  /* YELLOW STRIP */
  .yellow-strip > ul{
    display: block;
  }
  .yellow-strip > ul > li{
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .yellow-strip .cell-wrapper > span{
    flex: unset;
  }
}

@media (max-width: 480px){
  .ebl-nav .navbar-brand img {
    width:auto;
    height:40px;
  }
  /* EBL BOOKS SLIDER */
  .ebl-books-slider-wrap{ padding: 36px 30px 36px; }
  .ebl-books-slider > button.slick-prev{ left: -15px; }
  .ebl-books-slider > button.slick-next{ right: -15px; }
  /* EBL SEARCH SECTION */
  .ebl-search-inner > h2 { font-size: 22px; }
}
